In [2]:
import json
import pymysql

In [4]:
try:
    conn = pymysql.connect(host='192.168.0.11', port=3306, user='root', passwd='geheim', db='mysql')
    
    cur = conn.cursor()
    cur.execute('USE twistory')

    cur.execute('SHOW COLUMNS FROM users')

    for ans in cur:
        print(ans)
    
except:
    raise
    
finally:
    cur.close()
    conn.close()

('user_id', 'bigint(20) unsigned', 'NO', 'PRI', None, '')
('screen_name', 'varchar(20)', 'NO', 'MUL', None, '')
('name', 'varchar(20)', 'YES', 'MUL', None, '')
('profile_image_url', 'varchar(200)', 'YES', '', None, '')
('location', 'varchar(30)', 'YES', '', None, '')
('url', 'varchar(200)', 'YES', '', None, '')
('description', 'varchar(200)', 'YES', 'MUL', None, '')
('created_at', 'varchar(60)', 'NO', '', None, '')
('followers_count', 'int(10) unsigned', 'YES', '', None, '')
('friends_count', 'int(10) unsigned', 'YES', '', None, '')
('statuses_count', 'int(10) unsigned', 'YES', '', None, '')
('time_zone', 'varchar(40)', 'YES', '', None, '')
('last_update', 'timestamp', 'NO', 'MUL', 'current_timestamp()', '')

In [5]:
try:
    conn = pymysql.connect(host='192.168.0.11', port=3306, user='root', passwd='geheim', db='mysql')
    
    cur = conn.cursor()
    cur.execute('USE twistory')

    cur.execute('SELECT location FROM users LIMIT 10')

    data = cur.fetchall()
    for geo_lat in tqdm(data):
        print(geo_lat)             
except:
    raise
    
finally:
    cur.close()
    conn.close()

100%|██████████| 10/10 [00:00<00:00, 20106.92it/s]

('Massachusetts',)
('San Francisco',)
('lugar de los emparedados ',)
('NJ/NYC area...heart in NOLA',)
('Hagerstown',)
('San Diego, CA',)
('Alberta, Canada',)
('London, England',)
('Rome, Italy',)
('Surrey, BC',)

In [15]:
try:
    conn = pymysql.connect(host='192.168.0.11', port=3306, user='root', passwd='geheim', db='mysql')
    
    cur = conn.cursor()
    cur.execute('USE twistory')

    cur.execute('SELECT * FROM tweets LIMIT 5')

    data = cur.fetchall()
    for row in data:
        print(row)
        
    
    
    
except:
    raise
    
finally:
    cur.close()
    conn.close()

(1005414395562864641, 4156223117, 'RT @Linus2k: Io non rosico.\r\n\r\nIo mi vergogno.\r\n\r\n#conte #g7 #canada', None, 'Sat Jun 09 11:40:46 +0000 2018', None, None, 'zan514', 'it', 1, None, None, None, None, None, None, 0)
(1005414401409765376, 2258870403, 'RT @returnofthema13: #g7 anche i camerieri dei grandi alberghi parlano più lingue e sono altrettanto servizievoli di #conte.', None, 'Sat Jun 09 11:40:47 +0000 2018', None, None, 'BignamiBignami', 'it', 1, None, None, None, None, None, None, 0)
(1005414405989945347, 588529368, 'RT @RedTRaccoon: Trump explaining in the most basic terms why Russia should be part of the #G72018 summit.\r\n\r\nOur President has flipped sides\x85', None, 'Sat Jun 09 11:40:48 +0000 2018', None, None, 'JgoBluewave', 'en', 1, 0.569252, 0.409083, 0.105143, 0.050645, 0.439003, 0.207611, 0)
(1005414407956918272, 135395894, 'RT @hamemen: ?????????????????????????????????? https://t.co/kamtOgEXKN', None, 'Sat Jun 09 11:40:49 +0000 2018', None, None, 'Tzipporah3053', 'ja', 1, None, None, None, None, None, None, 0)
(1005414409445863424, 238117212, 'RT @EmmanuelMacron: #G7Charlevoix https://t.co/KmNBEeWo9m', None, 'Sat Jun 09 11:40:49 +0000 2018', None, None, 'ariksii', 'und', 1, None, None, None, None, None, None, 0)